<h2>Contact Us</h2>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="contact.name" name="name" #name="ngModel">
    </div>
    <div class="form-group" [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
    <br />
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" email="true" class="form-control" id="email" required [(ngModel)]="contact.email" name="email"
        #email="ngModel">
    </div>
    <div class="form-group" [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is required</div>
    <br />
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea type="text" class="form-control" id="message" required [(ngModel)]="contact.message" name="message"
        #message="ngModel"></textarea>
      <div class="form-group" [hidden]="message.valid || message.pristine" class="alert alert-danger">Message is
        required</div>
    </div>
    <br />
    <app-pdpa-text-control></app-pdpa-text-control>
    <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>
  </form>
  <br>
  <button (click)="scanner()" class="btn btn-success">Scan SFF Pass/LinkedIn QR</button>
</div>
<div [hidden]="!submitted">
  <br>
  <p>Thank you! We will get back to your shortly with your request.</p>
  <div class="row">
    <div class="col-xs-3"><b>Name:</b></div>
    <div class="col-xs-9">{{ contact.name }}</div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3"><b>Email</b></div>
    <div class="col-xs-9">{{ contact.email }}</div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-3"><b>Message</b></div>
    <div class="col-xs-9">{{ contact.message }}</div>
  </div>
  <br>
  <button type="button" class="btn btn-success" (click)="done()">Done</button>
</div>