.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.ng-pristine:not(form) {
  border-left: 5px solid #2F4858;
  /* red */
}

button {
  width: 100%;
  background-color: #006F4E;
  border: #006F4E;
  height: 48px;
}