<div class="bottom_bar">
    <div class="row text-center">
        <div class="col" (click)="goBack()">
            <img src="assets/icons/arrow_back.svg" class="filter-primary-color">
            <label>Back</label>
        </div>
        <div hidden="true" class="col" (click)="scanner()">
            <img src="assets/icons/qr_code_scanner.svg" class="filter-primary-color" routerLink="/scanner"
                routerLinkActive="linkactive">
            <label routerLink="/scanner" routerLinkActive="textlinkactive">Scan</label>
        </div>
        <div class="col" (click)="share()">
            <img src="assets/icons/share.svg" class="filter-primary-color" routerLink="/qrcode"
                routerLinkActive="linkactive">
            <label routerLink="/qrcode" routerLinkActive="textlinkactive">Share</label>
        </div>
        <div class="col" (click)="contact()">
            <img src="assets/icons/email.svg" class="filter-primary-color" routerLink="/contact"
                routerLinkActive="linkactive">
            <label routerLink="/contact" routerLinkActive="textlinkactive">Contact</label>
        </div>
        <div class="col" (click)="map()">
            <img src="assets/icons/map.svg" class="filter-primary-color" routerLink="/locate"
                routerLinkActive="linkactive">
            <label routerLink="/locate" routerLinkActive="textlinkactive">Locate</label>
        </div>
        <div class="col" (click)="agenda()">
            <img src="assets/icons/calendar.svg" class="filter-primary-color" routerLink="/events"
                routerLinkActive="linkactive">
            <label routerLink="/events" routerLinkActive="textlinkactive">Agenda</label>
        </div>
        <div class="col" (click)="goHome()">
            <img src="assets/icons/home.svg" class="filter-primary-color" routerLink="/entities"
                routerLinkActive="linkactive">
            <label routerLink="/entities" routerLinkActive="textlinkactive">Home</label>
        </div>
    </div>
</div>
