.bottom_bar {
    background-color: white;
    position:fixed;
    bottom:0;
    width: 100%;
    margin-bottom: 0px;
}

img {
    height: 32px;
    width: 32px;
    filter: invert(23%) sepia(21%) saturate(946%) hue-rotate(160deg) brightness(95%) contrast(86%);
    opacity: 0.7;
}

.linkactive {
    border-top: 2px solid black; 
    opacity: 1;
    filter: invert(23%) sepia(21%) saturate(946%) hue-rotate(160deg) brightness(95%) contrast(86%);
    scale: 1;
}

.textlinkactive {
    color: #2F4858;
    font-weight: bold;
}

label {
    font-size: small;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    color: #2F4858b3;
}