<div *ngIf="groupEntity">
    <a routerLink="/entity/{{groupEntity.id}}">
        <div>
            <div class="center_div">
                <img src="assets/images/{{groupEntity.image}}">
            </div>
            <br>
            <div class="center_div">
                <p class="summary_text">{{groupEntity.description.substring(0, groupEntity.description.indexOf("\n"))}}
                </p>
            </div>
        </div>
    </a>
</div>
<br>
<ul class="entity_list">
    <li *ngFor="let entity of entities">
        <div *ngIf="entity.isSubEntity=='false'" >
            <a routerLink="/entity/{{entity.id}}">
                <div class="entity_container">
                    <div class="entity_image">
                        <img src="assets/images/{{entity.image}}" alt="{{entity.image}}">
                    </div>
                    <div class="entity_text">
                        <label><b>{{entity.name}}.</b></label>
                        <br>
                        <label>{{entity.summary}}</label>
                    </div>
                    <img src="assets/icons/chevron_right.svg" alt="chevron_right"
                        class="filter-primary-color chevron_right">
                </div>
            </a>
            <br>
        </div>
    </li>
</ul>
