<div class="container" *ngIf="selectedEvent">
    <div class="center_div">
        <app-calendar-control [dateInput]="eventDate!"></app-calendar-control>
    </div>
    <h2>{{selectedEvent.name}}</h2>
    <p><b>{{selectedEvent.date}} {{dayOfWeekAsString(eventDate!.getDay())}} {{selectedEvent.time}}</b></p>
    <p>{{selectedEvent.summary}}</p>
    <p class="event_text" innerHTML="{{selectedEvent.description}}"></p>
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="register()">Register</button>
    </div>
    <div *ngIf="entity" class="entity-div">
        <br>
        <a routerLink="/entity/{{entity.id}}">
            <img class="entity-img" src="assets/images/{{entity.image}}" alt="{{entity.image}}">
        </a>
    </div>
    <div *ngIf="eventSpeakers">
        <app-speaker-control [speakers]="eventSpeakers"></app-speaker-control>
    </div>
</div>