h6 {
    text-align: center;
    margin-top: 8px;
}

.event_text {
  white-space: pre-line;
}

.speaker {
    display: inline-block;
}

.center_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.speaker-div {
  text-align: center;
}

.entity-div {
  text-align: center;
}

.entity-img {
  max-width: 80%;
}

app-calendar-control {
  font-size: 1.5em;
}