h6 {
    text-align: center;
    margin-top: 8px;
}

.speaker {
    display: inline-block;
}

.center_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.speaker-div {
  text-align: center;
}

.entity-div {
  text-align: center;
}

.entity-img {
  max-width: 80%;
}

.img-thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border-radius: 50%;
    height: 152px;
    width: 152px;
}

time.icon
{
  font-size: 0.6em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  margin-bottom: 16px;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #006F4E;
  box-shadow: 0 2px 0 #006F4E;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #006F4E;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}