<div *ngIf="selectedEntity">
    <div class="entity_image">
        <img src="assets/images/{{selectedEntity.image}}" alt="{{selectedEntity.image}}" style="max-width: 100%;">
    </div>
    <br>
    <div class="entity_text">
        <p><b>{{selectedEntity.name}}</b></p>
        <p>{{selectedEntity.summary}}</p>
        <p><b>Find Us: </b><a target="_blank" rel="noopener"
                href={{selectedEntity.website}}>{{selectedEntity.website}}</a></p>
        <p><b>Contact: </b><a target="_blank" rel="noopener"
                href={{selectedEntity.contact}}>{{selectedEntity.contact}}</a></p>
        <p>{{selectedEntity.description}}</p>
    </div>
    <div *ngIf="events.length>0">
        <hr>
        <p><b>Entity Agenda</b></p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let event of events">
                <div>
                    <div class="row" style="padding-top: 8px;">
                        <div class="col-auto" style="padding-right: 0 !important;">
                            <time [dateTime]="dates[events.indexOf(event)]!" class="icon">
                                <em>{{dayOfWeekAsString(dates[events.indexOf(event)].getDay())}}</em>
                                <strong>{{monthAsString(dates[events.indexOf(event)].getMonth())}}</strong>
                                <span>{{dates[events.indexOf(event)].getDate()}}</span>
                            </time>
                        </div>
                        <div class="col-auto" style="padding-right: 0 !important;">
                            <strong>{{event.name}}</strong>
                            <p><b>{{event.date}} {{shortDayOfWeekAsString(dates[events.indexOf(event)].getDay())}}
                                    {{event.time}}</b></p>
                        </div>
                    </div>
                    <p>{{event.summary}}</p>
                    <div class="row">
                        <div class="col left">
                            <a routerLink="/event/{{event.id}}"><small>View details</small></a>
                        </div>
                        <div class="col right">
                            <button (click)="register(event.id)" class="btn btn-success btn-sm">Register</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>