
.entity_image {
    flex: 25%;
    padding: 8px;
    text-align: center;
}

.entity_text {
    flex: 70%;
    padding: 8px;
    white-space: pre-line;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.entity_image {
    flex: 25%;
    padding: 8px;
    text-align: center;
}

.entity_container {
    display: flex;
    align-items: center;
    justify-content: center
}

.video_container {
    position:relative; 
    width:100%; 
    height:0px; 
    padding-bottom:56.25%;
}

.video_container iframe {
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:100%
}