
.entity_image {
    flex: 25%;
    padding: 8px;
    text-align: center;
}

.entity_text {
    flex: 70%;
    padding: 8px;
    white-space: pre-line;
}

a:link {
    text-decoration: underline;
}

a {
    text-decoration: underline;
}

div.a {
    text-align: end;
}