<div *ngIf="selectedEntity">
    <div class="entity_image">
        <img src="assets/images/{{selectedEntity.image}}" alt="{{selectedEntity.image}}" style="max-width: 100%;">
    </div>
    <br>
    <div class="entity_text">
        <p><b>{{selectedEntity.name}}</b></p>
        <p>{{selectedEntity.summary}}</p>
        <p><b>Find Us: </b><a target="_blank" rel="noopener"
                href={{selectedEntity.website}}>{{selectedEntity.website}}</a></p>
        <p><b>Contact: </b><a target="_blank" rel="noopener"
                href={{selectedEntity.contact}}>{{selectedEntity.contact}}</a></p>
        <p>{{selectedEntity.description}}</p>
    </div>
    <div *ngIf="selectedEntity.video" class="video_container">
        <iframe [src]="videoLink" [frameBorder]="0" allowfullscreen></iframe>
    </div>
    <div *ngIf="subEntities.length>0">
        <hr>
        <p><b>Entities</b></p>
        <ul class="entity_list">
            <li *ngFor="let entity of subEntities">
                <div *ngIf="entity.isSubEntity=='true'">
                    <a href="./entity/{{entity.id}}">
                        <div class="entity_container">
                            <div class="entity_image">
                                <img src="assets/images/{{entity.image}}" alt="{{entity.image}}">
                            </div>
                            <div class="entity_text">
                                <label><b>{{entity.name}}.</b></label>
                                <br>
                                <label>{{entity.summary}}</label>
                            </div>
                            <img src="assets/icons/chevron_right.svg" alt="chevron_right"
                                class="filter-primary-color chevron_right">
                        </div>
                    </a>
                    <br>
                </div>
            </li>
        </ul>
    </div>
    <div *ngIf="events.length>0">
        <hr>
        <p><b>Entity Agenda</b></p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let event of events">
                <app-agendalist-cardview [dateInput]="dates[events.indexOf(event)]"
                    [eventInput]="event"></app-agendalist-cardview>
            </li>
        </ul>
    </div>
</div>