<div *ngIf="(dates | json) != '[]'">
    <h2>Thank you!</h2>
    <div>
        <label>You have been successfully registered for:</label>
        <hr>
        <div class="row" style="padding-top: 8px;">
            <div class="col-auto" style="padding-right: 0 !important;">
                <app-calendar-control [dateInput]="dates[events.indexOf(event!)]"></app-calendar-control>
            </div>
            <div class="col-auto" style="padding-right: 0 !important;">
                <strong>{{event?.name}}</strong>
                <p><b>{{event?.date}} {{shortDayOfWeekAsString(dates[events.indexOf(event!)].getDay())}}
                        {{event?.time}}</b></p>
            </div>
            <p>{{event?.summary}}</p>
        </div>
    </div>
</div>
<div class="calendar-div">
    <button id="cal-btn" class="btn btn-success">Add to calendar</button>
</div>
<br>
<app-locate-us></app-locate-us>