ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.chevron_right {
    margin-left: auto;
}

.entity_image {
    flex: 25%;
    padding: 8px;
    text-align: center;
}

.entity_text {
    flex: 75%;
    padding: 8px;
}

.entity_container {
    display: flex;
    align-items: center;
    justify-content: center
}