<a routerLink="/entity/{{groupEntity.id}}">
    <div>
        <div class="center_div">
            <img src="assets/images/{{groupEntity.image}}.svg">
        </div>
        <div class="center_div">
            <p class="summary_text">{{groupEntity.description}}</p>
        </div>
    </div>
</a>
<br>
<ul class="entity_list">
    <li *ngFor="let entity of entities">
        <a routerLink="/entity/{{entity.id}}">
            <div class="entity_container">
                <div class="entity_image">
                    <img src="assets/images/{{entity.image}}.svg" alt="{{entity.image}}">
                </div>
                <div class="entity_text">
                    <label><b>{{entity.name}}</b></label>
                    <br>
                    <label>{{entity.summary}}</label>
                </div>
                <div class="chevron_right">
                    <img src="assets/icons/chevron_right.svg" alt="chevron_right">
                </div>
            </div>
        </a>
        <br>
    </li>
</ul>