<ul class="entity_list">
    <li *ngFor="let entity of entities">
        <div class="entity_container" (click)="onSelect(entity)">
            <div class="entity_image">
                <img src="assets/images/{{entity.image}}.svg" alt="{{entity.image}}">
            </div>
            <div class="entity_text">
                <label><b>{{entity.name}}</b></label>
                <br>
                <label>{{entity.summary}}</label>
            </div>
            <div class="chevron_right">
                <img src="assets/icons/chevron_right.svg" alt="chevron_right">
            </div>
        </div>
        <br>
    </li>
</ul>