ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.chevron_right {
    flex: 5%;
}

.entity_image {
    flex: 25%;
    padding: 8px;
    text-align: center;
}

.entity_text {
    flex: 70%;
    padding: 8px;
}

.entity_container {
    display: flex;
    align-items: center;
    justify-content: center
}

img {
    max-width: 100%;
    height: auto;
}

.center_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.summary_text {
    text-align: justify;
    text-justify: inter-word;
}