ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.event_container {
    display: flex;
    align-items: center;
    justify-content: center
}

a {
    text-decoration: underline;
}

div.right {
    text-align: end;
}

div.left {
  text-align: start;
}

time.icon
{
  font-size: 0.4em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  margin-bottom: 16px;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #006F4E;
  box-shadow: 0 2px 0 #006F4E;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #006F4E;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

.dropdown-bar {
  background-color: #198754;
  border-radius: 5px;
}

.dropbtn {
  background-color: #198754;
  color: white;
  padding: 8px 0px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 90%;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content:active {display: none;}
.dropdown:hover .dropdown-content {display: block;}

@media (max-width:300px)
{
  .dropdown-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .dropdown {
    width: 100% !important;
  }
}
