ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.event_container {
    display: flex;
    align-items: center;
    justify-content: center
}

a {
    text-decoration: underline;;
}

div.a {
    text-align: end;
}