/* You can add global styles to this file, and also import other style files */
/* #006F4E */
.filter-primary-color {
  filter: invert(27%) sepia(93%) saturate(854%) hue-rotate(127deg) brightness(91%) contrast(101%);
}

a {
  color: #000000;
  text-decoration: none;
}

b,
strong {
  color: #006F4E;
}

/* simple animation - if needed*/
/* @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  router-outlet + * {
    display: block;
    animation: fade 1s;
  } */