<div class="container" *ngIf="selectedEvent">
    <div class="center_div">
        <app-calendar-control [dateInput]="eventDate!"></app-calendar-control>
    </div>
    <h2>{{selectedEvent.name}}</h2>
    <p><b>{{selectedEvent.date}} {{dayOfWeekAsString(eventDate!.getDay())}} {{selectedEvent.time}}</b></p>
    <p>{{selectedEvent.summary}}</p>
    <hr>
    <h2>Register your interest</h2>
    <div>
        <form #contactForm="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="contact.name" name="name"
                    #name="ngModel">
            </div>
            <div class="form-group" [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required
            </div>
            <br />
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" email="true" class="form-control" id="email" required [(ngModel)]="contact.email"
                    name="email" #email="ngModel">
            </div>
            <div class="form-group" [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is
                required</div>
            <br />
            <app-pdpa-text-control></app-pdpa-text-control>
            <div class="d-grid gap-2">
                <button (click)="submit()" type="submit" class="btn btn-success btn-block"
                    [disabled]="!contactForm.form.valid">Submit</button>
            </div>
        </form>
        <br>
        <div class="d-grid gap-2">
            <button (click)="scan()" class="btn btn-success">Scan SFF Pass/LinkedIn QR</button>
        </div>
        <br>
    </div>
    <div *ngIf="speaker" style="text-align: center;">
        <hr />
        <p><b>Speaker</b></p>
        <div class="center_div">
            <a href={{speaker.linkedIn}} target=”_blank”>
                <div class="card" style="max-width: 208px;">
                    <img class="img-thumbnail" src={{speaker.image}} alt={{speaker.name}}>
                    <div class="card-body">
                        <h5 class="card-title">{{speaker.name}}</h5>
                        <label class="card-text">{{speaker.jobTitle}}</label>
                        <br>
                        <label class="card-text">{{speaker.company}}</label>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>