<div class="container" *ngIf="selectedEvent">
    <h2>Register your interest</h2>
    <div>
        <form #contactForm="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="contact.name" name="name"
                    #name="ngModel">
            </div>
            <div class="form-group" [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required
            </div>
            <br />
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" email="true" class="form-control" id="email" required [(ngModel)]="contact.email"
                    name="email" #email="ngModel">
            </div>
            <div class="form-group" [hidden]="email.valid || email.pristine" class="alert alert-danger">Email is
                required</div>
            <br />
            <p>
                By submitting this Form, you hereby agree that Crédit Agricole Group may collect, obtain, store and
                process your
                personal data that you provide in this form for the purpose of receiving updates, news, promotional and
                marketing
                mails or materials from Crédit Agricole Group.
            </p>
            <p>
                You hereby give your consent to Crédit Agricole Group to:
            </p>
            <ul>
                <li>Store and process your Personal Data</li>
                <li>Disclose your Personal Data to the relevant governmental authorities or third parties where required
                    by law or
                    for legal purposes.</li>
                <li>Contact you to provide you with information on any updates, news, promotional and marketing mails or
                    materials
                    via electronic transmission to your email address(es) that you have provided</li>
            </ul>
            <p>
                In addition, your personal data may be transferred to any company within the Crédit Agricole Group which
                may
                involve sending your data to a location outside Singapore. For the purpose of updating or correcting
                such data,
                you may at any time apply to the Crédit Agricole Group to have access to your personal data which are
                stored by
                Crédit Agricole Group.
            </p>
            <p>
                You hereby confirm that you are the user and/or subscriber of the email address(es) that you have
                provided to
                Crédit Agricole Group.
            </p>
            <p>
                For the avoidance of doubt, Personal Data includes all data defined within the Singapore Personal Data
                Protection
                Act 2012 including all data you had disclosed to Crédit Agricole Group in this Form.
            </p>
            <div class="d-grid gap-2">
                <button (click)="submit()" type="submit" class="btn btn-success btn-block"
                    [disabled]="!contactForm.form.valid">Submit</button>
            </div>
        </form>
        <br>
        <div class="d-grid gap-2">
            <button (click)="scan()" class="btn btn-success">Scan SFF Pass</button>
        </div>
        <br>
    </div>
    <hr />
    <div class="center_div">
        <time [dateTime]="eventDate!" class="icon">
            <em>{{dayOfWeekAsString(eventDate!.getDay())}}</em>
            <strong>{{monthAsString(eventDate!.getMonth())}}</strong>
            <span>{{eventDate?.getDate()}}</span>
        </time>
    </div>
    <h2>{{selectedEvent.name}}</h2>
    <p><b>{{selectedEvent.date}} {{dayOfWeekAsString(eventDate!.getDay())}} {{selectedEvent.time}}</b></p>
    <p>{{selectedEvent.summary}}</p>
    <p>{{selectedEvent.description}}</p>
    <hr />
    <div *ngIf="speaker" style="text-align: center;">
        <p><b>Speaker</b></p>
        <div class="center_div">
            <a href={{speaker.linkedIn}} target=”_blank”>
                <div class="card" style="max-width: 208px;">
                    <img class="img-thumbnail" src={{speaker.image}} alt={{speaker.name}}>
                    <div class="card-body">
                        <h5 class="card-title">{{speaker.name}}</h5>
                        <label class="card-text">{{speaker.jobTitle}}</label>
                        <br>
                        <label class="card-text">{{speaker.company}}</label>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>