h6 {
    text-align: center;
    margin-top: 8px;
}

.speaker {
    display: inline-block;
}

.center_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border-radius: 50%;
    height: 152px;
    width: 152px;
}

app-calendar-control {
  font-size: 1.5em;
}