<p>
    By submitting this Form, you hereby agree that Crédit Agricole Group may collect, obtain, store and process your
    personal data that you provide in this form for the purpose of receiving updates, news, promotional and marketing
    mails or materials from Crédit Agricole Group.
  </p>
  <p>
    You hereby give your consent to Crédit Agricole Group to:
  </p>
  <ul>
    <li>Store and process your Personal Data</li>
    <li>Disclose your Personal Data to the relevant governmental authorities or third parties where required by law or
      for legal purposes.</li>
    <li>Contact you to provide you with information on any updates, news, promotional and marketing mails or materials
      via electronic transmission to your email address(es) that you have provided</li>
  </ul>
  <p>
    In addition, your personal data may be transferred to any company within the Crédit Agricole Group which may
    involve sending your data to a location outside Singapore. For the purpose of updating or correcting such data,
    you may at any time apply to the Crédit Agricole Group to have access to your personal data which are stored by
    Crédit Agricole Group.
  </p>
  <p>
    You hereby confirm that you are the user and/or subscriber of the email address(es) that you have provided to
    Crédit Agricole Group.
  </p>
  <p>
    For the avoidance of doubt, Personal Data includes all data defined within the Singapore Personal Data Protection
    Act 2012 including all data you had disclosed to Crédit Agricole Group in this Form.
  </p>